@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    margin: 5%;
}

h2 {
    
    border-bottom: 2px solid #000000;
    width: 90vw;
}

h2 span {
    font-size: 1.8rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    background: #FFFFFF;
    padding-bottom: 1rem;
    line-height: 0.5rem;
    padding-left: 2%;
}

h3 {
    padding-left: 2%;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.qrcode {
    width: 30vw;
    max-height: 300px;
    max-width: 300px;
}

.color {
    background-color: #A2D7DD;
}

.pagamento {
    display: flex;
    justify-content: space-between;
}

.pagamento-info {
    width: 40vw;
    padding: 2%;
}

.chave-pix {
    width: 50%;
}

@media screen and (max-width: 500px){
    .pagamento {
        flex-direction: column;
    }

    .pagamento-info {
        width: 100vw;
        padding: 2%;
        margin: 2% 0;
    }

    .qrcode {
        width: 70vw;
    }
}
